---
import IconButton from '../buttons/IconButton.astro';
import * as Icon from '@astropub/icons';

interface NavItem {
  label: string;
  icon: keyof typeof Icon;
  target: string;
  pressed?: boolean;
}

const currentPath = Astro.url.pathname;

const middleNavItems: NavItem[] = [
  { label: 'Home', icon: 'Home', target: '/index2' },
  { label: 'About', icon: 'Cube', target: '/about2' }, 
  { label: 'Thoughts', icon: 'Bookmark', target: '/thoughts2' }, 
  { label: 'Work', icon: 'CardStack', target: '/work2' },
  { label: 'Gallery', icon: 'Component2', target: '/gallery' },
  { label: 'Globe', icon: 'Globe', target: '/globe' },
];

interface Props {
  additionalClasses?: string;
}

const { additionalClasses = '' } = Astro.props;
---

<nav class:list={["base-navigation", additionalClasses]}>
  <div class="anchors">
    <a href="/index2">
      <svg width="36" height="30" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="meshGradient" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#ff5e2b" />
            <stop offset="50%" style="stop-color:#f87f5a" />
            <stop offset="100%" style="stop-color:#ff5e2b" />
          </linearGradient>
        </defs>
        <path fill-rule="evenodd" clip-rule="evenodd" 
          d="M14.6604 0.333253L16.3527 4.26843L18.045 0.333253L40 0.333252L28.1115 15.9795L40 33.6666H18.9329L16.3518 29.2684L13.7707 33.6666H2.7451C1.22902 33.6666 1.32e-06 32.4376 1.25184e-06 30.9215L0 3.07835C-6.8163e-08 1.56228 1.22902 0.333254 2.7451 0.333254L14.6604 0.333253Z" 
          fill="url(#meshGradient)"
        />
      </svg>
    </a>

    <div class="middle-links">
      {middleNavItems.map(({ label, icon, target, pressed }) => {
        const IconComponent = Icon[icon];
        const isActive = currentPath === target;
        return (
          <IconButton 
            {target} 
            {label} 
            pressed={pressed}
            active={isActive}
          >
            <IconComponent size="16" />
          </IconButton>
        );
      })}
    </div>

    <IconButton 
      target="/index2" 
      label="Settings" 
      pressed={true} 
      additionalClasses="!bg-desk/70"
    >
      <Icon.Gear size="16" />
    </IconButton>
  </div>
  <div class="extras hidden">
    some test
  </div>
</nav>

<style>
  .base-navigation {
    @apply flex items-center justify-start 
    lg:max-h-screen sticky lg:top-0 max-lg:bottom-0
    lg:border-r max-lg:border-t border-inkLighter/50 
    max-lg:order-2 z-10;
  }

  .base-navigation .anchors {
    @apply bg-desk/20 backdrop-blur-md
    h-full w-full flex items-center justify-between gap-2 
    lg:flex-col 
    lg:px-4 lg:py-10 p-4 pb-6;
  }

  .base-navigation .extras {
    @apply flex-1 w-40 h-full bg-inkLighter;
  }

  .base-navigation .middle-links {
    @apply flex flex-row gap-2 lg:flex-col lg:gap-4;
  }
</style>
