---
import TwoColumnLayout from '../layouts/TwoColumnLayout.astro';
import Row from '../components/Row.astro';
import { getThoughts } from '../lib/notion';

const breadcrumbs = [
  { text: 'Karina Tovar', href: '/' },
  { text: 'Thoughts', href: '/thoughts' },
];

// Fetch thoughts from Notion
const thoughts = await getThoughts();

// Get unique categories
const allCategories = [...new Set(thoughts.flatMap(thought => thought.categories))];
const initialCategory = Astro.url.searchParams.get('category') || 'all';
---

<TwoColumnLayout
  layout_body_classes="bg-[url('/hero.png')] bg-cover"
  title="Karina Tovar - Product Designer"
  breadcrumbs={breadcrumbs}
  additionalClasses="[&>.right-column]:h-full"
  asideTitle={{
    line1: "Product Designer",
    line2: "Pixel Philosopher"
  }}
  subtitle="USA Based · Listening to Music"
>
  <div slot="left-column-extra" class="categories-list">
    <ul class="flex flex-wrap gap-2">
      <li class={`category-button ${initialCategory === 'all' ? 'active' : ''} bg-gray-200 rounded-full px-3 py-1 text-sm cursor-pointer`} data-category="all">All</li>
      {allCategories.map(category => (
        <li class={`category-button ${initialCategory === category ? 'active' : ''} bg-gray-200 rounded-full px-3 py-1 text-sm cursor-pointer`} data-category={category}>{category}</li>
      ))}
    </ul>
  </div>

  <section id="thoughts-container" class="w-full max-h-[80vh] max-w-[640px] overflow-y-auto flex flex-col gap-3 justify-start pr-10 py-5 hide-scrollbar">
    {thoughts.map(thought => (
      <Row
        title={thought.title}
        date={thought.date}
        categories={thought.categories}
        href={thought.href}
      />
    ))}
  </section>
</TwoColumnLayout>

<script>
  import '../scripts/ThoughtsCategories';
</script>

<style>
  .categories-list {
    @apply mt-10 max-w-80;
  }
  [data-row] {
    transition: all 0.3s ease-in-out;
  }
  .category-button {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .category-button.active {
    @apply bg-red-500 text-white;
  }
  .hide-scrollbar {
    @apply overflow-auto;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style>
