---
import TwoColumnLayout from '../layouts/TwoColumnLayout.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import { workProjects } from '../data/workProjects';

const breadcrumbs = [
  { text: 'Karina Tovar', href: '/' },
  { text: 'Work', href: '/work' },
];

// Group projects by year and sort years in descending order
const projectsByYear = workProjects.reduce((acc, project) => {
  if (!acc[project.year]) {
    acc[project.year] = [];
  }
  acc[project.year].push(project);
  return acc;
}, {} as Record<string, typeof workProjects>);

const sortedYears = Object.keys(projectsByYear).sort((a, b) => parseInt(b) - parseInt(a));
---

<TwoColumnLayout
  layout_body_classes="bg-[url('/landscape.png')] bg-cover bg-center"
  title="Karina Tovar - My Work"
  breadcrumbs={breadcrumbs}
  asideTitle={{
    line1: "Happy Pixels",
    line2: "Better Lives"
  }}
  subtitle="Timeline of my work with several product partners"
>
  <div class="timeline">
    {sortedYears.map((year, index) => (
      <div class="year-section">
        <div class="year-label">
          <h3 class="year-note">{year}</h3>
          <span class="year-connector"></span>
        </div>
        <div class="projects-row">
          {projectsByYear[year].map((project) => (
            <Card 
              brow_text={project.brow_text}
              title={project.title}
              body={project.body}
              image={project.image}
              alt_text={project.alt_text}
            >
              <Button type="link" href="/project-details" additionalClasses="w-full">View Project</Button>
            </Card>
          ))}
        </div>
      </div>
    ))}
  </div>
</TwoColumnLayout>

<style>
  .timeline {
    @apply flex gap-4 relative pr-20 pt-10;
  }
  .projects-row {
    @apply flex gap-4 pt-4;
  }
  .year-section {
    @apply flex flex-col gap-4 mb-12 relative;
  }
  .year-label {
    @apply  flex gap-2 items-center;
  }
  .year-note {
    @apply bg-[#F9F7F5] p-1 sticky left-0 z-10;
  }
  .year-connector {
    @apply bg-inkLighter/50 w-full h-[1px];
  }
</style>
