---
import Button from '../components/buttons/Button.astro';
import * as Icon from '@astropub/icons'
import BackButton from '../components/buttons/BackButton.astro';
export interface Crumb {
  text: string;
  href: string;
}

interface Props {
  crumbs: Crumb[];
  showDropdown?: boolean;
}

const { crumbs, showDropdown = true } = Astro.props;

// Object to map page keys to display titles
const pageTitles: { [key: string]: string } = {
  'work': 'Work',
  'thoughts': 'Thoughts',
  'about': 'About',
}

const currentPath = Astro.url.pathname;

const lastCrumb = crumbs[crumbs.length - 1];
const currentPageTitle = pageTitles[lastCrumb.href.replace('/', '')] || lastCrumb.text;
const isChildPage = currentPath.split('/').length > 2;
const isIndexPage = Object.keys(pageTitles).includes(currentPath.replace(/^\/|\/$/g, ''));


// Update crumbs array with the correct title for the current page
const updatedCrumbs = crumbs.map((crumb, index) => 
  index === crumbs.length - 1 
    ? { ...crumb, text: currentPageTitle }
    : crumb
);
---
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    {updatedCrumbs.map((crumb, index) => (
      <li class="flex items-center">
        {/* Only show separator for dropdown mode */}
        {showDropdown && index > 0 && <span class="text-inkLighter">&nbsp;/&nbsp;</span>}
        
        {index === updatedCrumbs.length - 1 ? (
          <div class="relative">
            {!showDropdown ? (
              <div class="back-group group">
                <BackButton href={crumb.href} />
                <Button variant="textual" additionalClasses="text-ink text-base" href={crumb.href}>{crumb.text}</Button>
              </div>
            ) : isIndexPage && !isChildPage ? (
              <button id="lastCrumbDropdown" class="dropdown-menu-trigger" data-page-title={crumb.text}>
                {crumb.text}
                <span class="w-4 h-4 ml-1 text-inkLight transition-transform duration-300" id="chevronIcon">
                  <Icon.ChevronDown size="14" />
                </span>
              </button>
            ) : (
              <span class="text-ink font-medium">{crumb.text}</span>
            )}
            <div id="dropdownMenu" class="dropdown-menu hidden">
              <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                {Object.entries(pageTitles).map(([key, value]) => {
                  const shouldRender = key.toLowerCase() !== lastCrumb.text.toLowerCase();
                  return shouldRender && (
                    <a
                      href={`/${key}`}
                      class="dropdown-menu-item"
                      role="menuitem"
                    >
                      {value}
                    </a>
                  );
                })}
              </div>
            </div>
          </div>
        ) : (
          /* Only show previous crumbs in dropdown mode */
          showDropdown && (
            <div class="back-group group">
              <BackButton href={crumb.href} />
              <Button variant="textual" additionalClasses="text-ink text-base" href={crumb.href}>{crumb.text}</Button>
            </div>
          )
        )}
      </li>
    ))}
  </ol>
</nav>

<style>
  .breadcrumbs {
    @apply flex items-center space-x-1 text-lg text-ink font-light;
  }
  .breadcrumbs a {
    @apply text-ink font-medium;
  }
  .divider {
    @apply font-light;
  }
  .dropdown-menu-trigger {
    @apply flex items-center text-base text-ink font-medium;
  }
  .dropdown-menu {
    @apply absolute z-10 mt-2 w-48 rounded-md shadow-lg bg-inkDark ring-1 ring-inkDark ring-opacity-5;
  }
  .dropdown-menu-item {
    @apply block px-4 py-2 text-sm !text-white text-left hover:bg-ink;
  }
  .back-group {
    @apply flex items-center gap-2;
  }
  .back-group:hover :global(.icon-circle-fill) {
    @apply w-full h-full bg-inkDark;
  }
  .back-group:hover :global(.icon-arrow) {
    @apply text-paper;
  }
</style>

<script>
  function updateBreadcrumbs() {
    const dropdown = document.getElementById('lastCrumbDropdown');
    const menu = document.getElementById('dropdownMenu');
    const chevronIcon = document.getElementById('chevronIcon');

    if (dropdown && menu && chevronIcon) {
      dropdown.addEventListener('click', () => {
        menu.classList.toggle('hidden');
        chevronIcon.classList.toggle('rotate-180');
      });

      document.addEventListener('click', (event) => {
        if (!dropdown.contains(event.target as Node)) {
          menu.classList.add('hidden');
          chevronIcon.classList.remove('rotate-180');
        }
      });
    }
  }

  // Run on initial load
  updateBreadcrumbs();

  // Run on view transitions
  document.addEventListener('astro:after-swap', updateBreadcrumbs);
</script>
