---
interface Props {
  brow_text?: string;
	title: string;
	body: string;
	image?: string;
	alt_text?: string;
  additionalClasses?: string;
}

const { brow_text, title, image, body, alt_text, additionalClasses = '' } = Astro.props;
---

<div class={`card ${additionalClasses}`}>
  {brow_text && <p class="brow-text">{brow_text}</p>}
	{image && <img src={image} alt={alt_text} />}
  <h2 class="text-xl">{title}</h2>
	<div class="flex flex-col gap-4">
		<p>{body}</p>
		<slot />
	</div>
</div>
<style>
	.card {
    @apply flex flex-col h-fit gap-4 p-10 bg-light-paper/80 dark:bg-dark-paper/80 backdrop-blur-sm text-light-text dark:text-dark-text rounded-tl-2xl rounded-br-2xl rounded-tr-sm rounded-bl-sm min-w-[580px] max-w-[580px] min-h-[580px] shadow-md transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1;
  }
  .brow-text {
    @apply text-gray-500 font-medium text-xl;
  }
</style>
