---
import * as Icon from '@astropub/icons'
import Gem from './Gem.astro';
interface Props {
  title: string;
  date: string;
  categories: string[];
  href: string;
  content: string;
}

const { title, date, categories, href, content } = Astro.props;
---

<a 
  href={href} 
  class="row group" 
  data-row 
  data-date={date} 
  data-categories={categories.join(',')}
  transition:persist
  transition:name={`row-${title}`}
>
  <div class="marker !flex !items-center"> 
    <Gem variant={categories.includes('Process') ? 'process' : 'default'} />
  </div>
  <div class="details">
    <h3>{title}</h3>
    <p>{date} · {categories.join(', ')}</p>
    {content && (
      <div class="teaser">
        <p>{`${content.slice(0, 100)}...`}</p>
      </div>
    )}
  </div>
  <span class="arrow">
    <Icon.ArrowRight size="18" />
  </span>
</a>

<style>
  .row {
    @apply bg-white text-ink p-4 rounded-md w-full max-w-[640px] flex items-start gap-5 border border-white  hover:shadow-lg focus:bg-inkLighter/10 focus:outline-none focus:border-inkLighter cursor-pointer origin-top transition-all duration-300 ease-[cubic-bezier(0.23,1,0.32,1)];
  }
  .row-hidden {
    @apply opacity-0 !h-0 !p-0 overflow-hidden absolute;
  }
  .marker {
    @apply flex items-center mt-3 w-5 h-5 min-w-5 min-h-5 transition-all duration-300 ease-in-out;
  }
  .details {
    @apply py-1 flex-1;
  }
  .details h3 {
    @apply font-medium text-lg transition-colors duration-300 ease-in-out;
  }
  .row:hover .details h3 {
    @apply text-ink;
  }
  .details p {
    @apply text-sm text-inkLight;
  }
  .arrow {
    @apply text-ink bg-inkLighter/25 rounded-full p-2 mt-1 transition-all duration-300 ease-in-out transform translate-x-0 opacity-0 group-focus:bg-inkLighter group-focus:text-white;
  }
  .row:hover .arrow {
    @apply -translate-x-1 opacity-100;
  }
  .teaser {
    @apply max-h-0 border-l-2 border-gray-200 pl-2 overflow-hidden transition-all duration-300 ease-in-out transform translate-y-0 opacity-0 ;
  }
  .row:hover .teaser {
    @apply translate-y-2 my-1 min-h-fit py-1 opacity-100;
  }
  .teaser p {
    @apply text-sm text-ink line-clamp-3;
  }
</style>
