---
import Layout from './Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AsideTitle from '../components/AsideTitle.astro';
import BackgroundImage from '../components/BackgroundImage.astro';
import '../styles/layout.css';

interface Props {
  title: string;
  breadcrumbs: Array<{ text: string; href: string }>;
  asideTitle: {
    line1: string;
    line2: string;
  };
  subtitle?: string;
  additionalClasses?: string;
  showcaseImage?: string;
  bgImage?: string;
  bgImageClasses?: string;
  layout_body_classes?: string;
}

const { 
  title, 
  breadcrumbs, 
  asideTitle, 
  subtitle, 
  additionalClasses = '',
  showcaseImage = '',
  bgImage,
  bgImageClasses = '',
  layout_body_classes = ''
} = Astro.props;
---

<Layout title={title} body_classes={layout_body_classes}>
  <main class="layout-main">
    {bgImage && <BackgroundImage src={bgImage} classes={bgImageClasses} />}
    
    {showcaseImage && (
      <section class="layout-showcase">
        <img src={showcaseImage} alt="Showcase" />
      </section>
    )}
    
    <section class={`layout-basis relative ${additionalClasses}`}>
      <aside class="layout-left-column" transition:animate="fade">
        <div class="layout-left-contents">
          <Breadcrumbs 
            crumbs={breadcrumbs}
            transition:persist 
            transition:name="breadcrumbs" 
          />
          <AsideTitle {...asideTitle} />
          {subtitle && <p class="mt-2">{subtitle}</p>}
          <slot name="left-column-extra" />
        </div>
      </aside>
      
      <div class="layout-right-column" transition:animate="slide">
        <div class="details-content">
          <slot />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .details-content {
    @apply flex-1 py-10 pb-20;
  }
</style>
