---
import Layout from './Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AsideTitle from '../components/AsideTitle.astro';
import BackgroundImage from '../components/BackgroundImage.astro';
import ShowcaseImage from '../components/ShowcaseImage.astro';
import * as Icon from '@astropub/icons'
import '../styles/layout.css';
import { string } from 'astro:schema';

interface Props {
  title: string;
  breadcrumbs: Array<{ text: string; href: string }>;
  asideTitle: {
    line1: string;
    line2: string;
  };
  subtitle?: string;
  additionalClasses?: string;
  showcaseImage?: string;
  showcaseImageAlt?: string;
  showcaseImageClasses?: string;
  showcaseImageInspiration?: string;
  bgImage?: string;
  bgImageClasses?: string;
  layout_body_classes?: string;
}

const {
  title,
  breadcrumbs,
  asideTitle,
  subtitle,
  additionalClasses = '',
  showcaseImage = '',
  showcaseImageAlt = '',
  showcaseImageClasses = '',
  bgImage,
  bgImageClasses = '',
  layout_body_classes = ''
} = Astro.props;
---

<Layout title={title} body_classes={layout_body_classes}>
  <main class="layout-main">
    {bgImage && <BackgroundImage src={bgImage} classes={bgImageClasses} />}

    {showcaseImage && (
      <section class={`layout-showcase group/showcase ${showcaseImageClasses}`}>
        {showcaseImageAlt &&
          <div class="layout-showcase-tag">
            <div class="mb-1 flex gap-2 items-center">
              <Icon.ActivityLog size="14" />
              <span class="font-bold pt-[2px]">The Prompt:</span>
            </div>
            <span>{showcaseImageAlt}</span>
          </div>
        }
        <ShowcaseImage
          src={showcaseImage}
          alt={showcaseImageAlt}
          shineColor="rgba(255, 255, 255, 0.25)"
        />
      </section>
    )}

    <section class={`layout-basis relative ${additionalClasses}`}>
      <aside class="layout-left-column" transition:animate="fade">
        <div class="layout-left-contents">
          <Breadcrumbs
            crumbs={breadcrumbs}
            transition:persist
            transition:name="breadcrumbs"
          />
          <AsideTitle {...asideTitle} />
          {subtitle && <p class="mt-2">{subtitle}</p>}
          <slot name="left-column-extra" />
        </div>
      </aside>

      <div class="layout-right-column" transition:animate="slide">
        <div class="details-content pt-10">
          <slot />
        </div>
      </div>
    </section>
  </main>
</Layout>

