---
import Layout from './Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AsideTitle from '../components/AsideTitle.astro';

interface Props {
  title: string;
  breadcrumbs: Array<{ text: string; href: string }>;
  asideTitle: {
    line1: string;
    line2: string;
  };
  subtitle?: string;
  additionalClasses?: string;
  bgImage?: string;
  bgImageClasses?: string;
  layout_body_classes?: string;
}

const { 
  title, 
  breadcrumbs, 
  asideTitle, 
  subtitle, 
  additionalClasses = '',
  bgImage,
  bgImageClasses = '',
  layout_body_classes = ''
} = Astro.props;
---

<Layout 
  title={title}
  body_classes={layout_body_classes}
>
  <section class={`two-columns-wrapper ${additionalClasses}`}>
    {bgImage && (
      <div class="bg-image-container">
        <img src={bgImage} alt="Background" class={` ${bgImageClasses}`} />
      </div>
    )}
    <aside transition:animate="fade">
      <Breadcrumbs 
        crumbs={breadcrumbs}
        transition:persist 
        transition:name="breadcrumbs" 
      />
      <AsideTitle 
        line1={asideTitle.line1}
        line2={asideTitle.line2}
      />
        {subtitle && <p class="subtitle">{subtitle}</p>}
      <slot name="left-column-extra" />
    </aside>
    <main transition:animate="slide">
      <slot />
    </main>
  </section>
</Layout>
