---
// src/layouts/TwoColumnLayout.astro

import Layout from './Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AsideTitle from '../components/AsideTitle.astro';

interface Props {
  title: string;
  breadcrumbs: Array<{ text: string; href: string }>;
  asideTitle: {
    line1: string;
    line2: string;
  };
  subtitle?: string;
  additionalClasses?: string;
  bgImage?: string;
  bgImageClasses?: string;
  layout_body_classes?: string;
}

const { 
  title, 
  breadcrumbs, 
  asideTitle, 
  subtitle, 
  additionalClasses = '',
  bgImage,
  bgImageClasses = '',
  layout_body_classes = ''
} = Astro.props;
---

<Layout 
  title={title}
  body_classes={layout_body_classes}
>
  <main class={`basis ${additionalClasses} relative`}>
    {bgImage && (
      <div class={`absolute inset-0 z-0 flex ${bgImageClasses}`}>
        <img src={bgImage} alt="Background" class="w-full h-full object-cover" />
      </div>
    )}
    <aside class="left-column" transition:animate="fade">
      <div class="left-column--contents">
        <Breadcrumbs 
          crumbs={breadcrumbs}
          transition:persist 
          transition:name="breadcrumbs" 
        />
        <AsideTitle 
          line1={asideTitle.line1}
          line2={asideTitle.line2}
        />
        {subtitle && <p class="subtitle">{subtitle}</p>}
        <slot name="left-column-extra" />
      </div>
    </aside>
    <section class="right-column" transition:animate="slide">
      <slot />
    </section>
  </main>
</Layout>

<style>
  .basis {
    @apply w-screen h-screen flex gap-8 mx-auto;
  }
  .left-column {
    @apply w-1/3 p-20 flex flex-col items-center justify-center gap-10 relative z-10;
  }
  .left-column--contents {
    @apply w-full min-h-[400px] min-w-[400px] max-w-fit mx-auto;
  }
  .right-column {
    @apply flex-1 py-20 flex flex-col items-start justify-center gap-10 overflow-scroll relative my-auto z-10 hide-scrollbar;
  }
  .subtitle {
    @apply mt-2;
  }
  .hide-scrollbar {
    @apply overflow-auto;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style>
